[2019-07-02 11:59] moul opened #1 "Import first generic packages from Berty's monorepo"
@gfanton can you start an initial import of generic gomobile+IPFS code?

Feel free to make it small at the beginning, we will progressively add more and more code, but it will be easier to discuss the whole strategy based on something concrete.

Thx!

[2019-07-02 11:59] moul opened #2 "Add an example so people can easily understand what this repo does"
The example(s) can be made directly available from this repo or consist of a set of links to other repos.

The idea is clearly to help people find the relevant pieces of information.

[2019-07-02 12:02] moul opened #3 "Add some context in the README"
* [x] What makes IPFS on mobile special? What are the problems to solve on mobile?
* [x] How can this repository be helpful for people? (code helpers, configuration tips, good place for mobile related discussions)
* [x] Specify that for now, it's maybe easier to mix IPFS and libp2p stuff in this repo but in a few times it will worth splitting it and have a github.com/libp2p/gomobile-libp2p repo to

[2019-07-09 10:56] #3 closed, assigned to moul

[2019-09-04 14:58] weekly-digest opened #6 "Weekly Digest (28 August, 2019 - 4 September, 2019)"
Here's the **Weekly Digest** for [*berty/gomobile-ipfs*](https://github.com/berty/gomobile-ipfs):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargaze

[2019-09-04 15:21] #6 closed, assigned to nobody

[2019-09-09 21:05] parkan opened #7 "Move repo into ipfs or ipfs-shipyard"
Following up from the email thread and looping in @Stebalien. Let's move this repo into an ipfs-related org so we can get more eyes on the discussion + code.

There are two choices:
- **Move into [ipfs-shipyard](https://github.com/ipfs-shipyard/):** package this as a kind of "mobile SDK" on top of IPFS, similar to how peer-base relates to building dynamic data apps, or how ipfs-provider helps use

[2019-09-19 18:40] aeddi opened #8 "[gomobile-lib] improve go logger -> native logger binding"
Replace gomobile logger (GoLog) by a better binding for ipfs-go-log -> native logger.

Currently, all logs including their metadata are displayed by native logger as a plain text string with GoLog as namespace/tag and error as level. Logs are less readable, filterable, sortable, etc...

We need to forward each metadata (level, namespace, timestamp, etc...) and the log itself from ipfs-go-log to co

[2019-09-19 18:58] aeddi opened #9 "[gomobile-lib] go-ipfs doesn't seem to work properly over cellular connection"
We noticed when writing/testing the example application that go-ipfs can barely connect to bootstrap nodes. It seems not to be able to do peer discovery and we see a lot of dial error and timeout in the logs.

We have since tested on our laptops with a classic go-ipfs node and a 4G tethering connection: same problem. In both cases we tried to do as much as possible to tweak the configuration witho

[2019-09-19 19:21] aeddi opened #10 "[gomobile-lib] adapt network configuration according to the connectivity"
In the Berty app, we have developed a system to update the network configuration according to the device's connectivity, it is currently complicated to extract this part from our code to integrate it to gomobile-ipfs but we will deal with it as soon as possible.

Android and iOS offer APIs that allow the OS to notify your application when a connectivity change occurs: 4G, Wifi, Bluetooth, internet

[2019-09-19 19:36] aeddi opened #11 "[demo-app] enable settings tab in webui"
We noticed that the settings tab was inaccessible on the webui. It would be convenient to be able to modify the config without having to recompile the application while debugging/testing.

Since the tab is greyed out, we figured it was a planned behavior, probably just a boolean to modify somewhere so we didn't dig any deeper. :)

<img src="https://user-images.githubusercontent.com/5222525/6527506

[2019-09-19 20:03] aeddi opened #12 "[release] make pre-built lib available on Github releases and other platforms"
It would be convenient for developers to have the ability to download the lib from the Github releases system to integrate it directly into their project without configuring the entire build system.

When the lib will be more stable / less "PoC", it would also be great to make it available on the repo of the Android and iOS dependency managers (Gradle, Cocoapods, etc...).

We could use the Github

[2019-09-19 20:12] aeddi opened #13 "[demo-app] make demo application available on stores"
Even if its interest is quite limited for the moment, we could easily make the demo application available on the different mobile stores so that developers/users could simply test it.

Concerning Android we could also make the APK available on Github releases.

[2019-09-24 19:31] asutula opened #14 "High level thinking from Textile"
Very excited to see this repo take shape! At Textile, we've done a lot of the work that will be done here, but instead of wrapping the `go-ipfs` API, we've wrapped the `go-textile` API (which wraps the `go-ifps` API). I think we can transfer a lot of what we've done to this repo, and ultimately build the Textile mobile SDKs on top of `gomobile-ipfs`.

I want to start some general conversation and

[2019-10-02 17:23] #11 closed, assigned to nobody

[2019-12-01 21:49] #13 closed, assigned to nobody

[2020-01-21 16:17] aeddi opened #18 "[doc] improve the README"
- [ ] improve the description
- [ ] add build example
- [ ] add code example

[2020-01-21 16:18] aeddi opened #19 "[gomobile-lib] implement a cleaner workaround for DNS resolver"
DNS Lookup does not work by default with gomobile on Android and iOS (only on physical device). We needed to find a workaround until [this golang issue](https://github.com/golang/go/issues/8877) is fixed.

At the moment we are using [this method](https://gist.github.com/cs8425/107e01a0652f1f1f6e033b5b68364b5e) which is very hacky.

We could instead:
- Define a go interface containing a LookupTXT m

[2020-01-21 17:24] aeddi opened #20 "[gomobile-lib] better control over the max number of connected peers"
For the moment, the limits that we set in the config concerning the number of peers (high/low watermarks, grace period) does not seem to regulate correctly the maximum number of connected peers (probably due to a misuse / misunderstanding on our part).

We need to find a way to precisely control the maximum number of peers a device is connected to because:
- On iOS and Android, the number of conne

[2020-01-21 17:46] #14 closed, assigned to nobody

[2020-01-21 17:46] #1 closed, assigned to gfanton

[2020-01-21 17:46] #2 closed, assigned to gfanton

[2020-01-27 10:26] aeddi commented on #7
@alanshaw I can't transfer it directly to ipfs-shipyard because I'm not a member of the organization.
Can I transfer it to your account so you can forward it?

[2020-01-27 13:08] alanshaw commented on #7
Sure!

[2020-01-27 13:27] alanshaw commented on #7
Done, let me know who else to add to the team @aeddi

[2020-01-27 13:27] #7 closed

[2020-01-27 13:47] aeddi commented on #7
@alanshaw Can you add @glouvigny, @moul and @gfanton please?
Thanks :)

[2020-01-29 12:52] moul commented on #19
cc @steeve

[2020-01-29 14:15] steeve commented on #19
Just enable CGo and let it use the CGo resolver instead. Since CGo is needed anyway when doing `gomobile bind` it's not really any different build wise.

I thought that `gomobile bind` did it but you can try to add `CGO_ENABLED=1` to the env or disable the build tag `netgo`.

[2020-02-04 22:15] momack2 opened #27 "Add Lead Maintainers"
Add Berty team (https://github.com/orgs/ipfs-shipyard/teams/berty/members minus Alan) as lead maintainers for this repo!

[2020-02-10 11:41] moul commented on #27
@momack2 updated the README.md file in #28

Is there anything else to do?

Btw, message to other contributors: we are more than open to having new co-maintainers on this project, feel free to reply to this issue if you want to contribute more and officially become a co-lead maintainer

[2020-02-10 13:11] moul opened #29 "Is there any policy/strategy for choosing a CI solution on the ipfs-shipyard organization?"
We plan to add CI rules that build different artifacts: .apk for Android and .ipa for iOS

To build iOS artifacts, we need to have OS X hosts with Xcode installed

From what I can see, other ipfs-shipyard are using mostly Travis and CircleCI, and projects that require OS X are only using Travis:

* https://github.com/ipfs-shipyard/ipfs-companion/blob/8e2eaeeeec05797b166e0ac2e149e61c4527bf61/.travi

[2020-02-10 13:11] moul commented on #29
cc @Stebalien @alanshaw

[2020-02-10 17:58] #27 closed

[2020-02-18 16:37] olizilla commented on #29
Use the CI tool that works best for the project. Across all the orgs, we mainly use circleci, so if that works for you, go for it! For the desktop electron app, we use travis for linux and osx builds and appvayor for windows.

[2020-02-21 08:46] RubenKelevra commented on #9
I'm running a node purely on 4G and it's working fine most of the time (carrier grade NAT plus Wifi Router NAT and no IPv6 🤢).

I discovered that go-ipfs can get "stuck" in a strange state, where like 100 connections are still showed but the amount of traffic is basically down to some bytes/s and no reconnection attempts are made until I restart the daemon - while the internet connection works fin

[2020-02-21 08:58] RubenKelevra opened #31 "[Meta] Trusted nodes / WoT to proxy network access"
Hey guys,

just read the weekly newsletter, awesome project!

I wrote down some ideas how a WebOfTrust could help in personal usage of IPFS by adding nodes as "friends" and allow them to (push/)store a given amount of data onto your node.

This way you could use IPFS as some kind of cloud storage, while only your friends hold the data in a sharded/redundantly way.

This can allow allow for easier

[2020-03-17 09:44] #12 closed

[2020-03-17 09:44] #29 closed

[2020-08-03 06:51] hanyaping opened #45 "There is no "core framework" for the project!"
I can't find this “Core.framework”！！！

Where can I download it “Core.framework”？？？

Please reply me, thank you**

<img width="708" alt="22222" src="https://user-images.githubusercontent.com/17908865/89154014-ae0c2c00-d598-11ea-917e-8587fe227180.png">
<img width="563" alt="11111" src="https://user-images.githubusercontent.com/17908865/89154018-b06e8600-d598-11ea-8d6c-4d22dbeef14f.png">

[2020-08-03 06:55] hanyaping opened #46 "Suggestion: rewrite demo in Objective-C"
It is suggested that demo can be developed with object-C language

Because there are so many people using Object c these days

[2020-08-03 08:57] aeddi commented on #45
Hello,

You first have to go in the `packages` directory and run `make build_core.ios`.

[2020-08-03 08:59] aeddi commented on #46
Hello,

I'm not sure I understand your message, are you suggesting to rewrite the iOS demo application in Objective-C instead of Swift?
If so, I'm sorry but it's not planned.

[2020-08-11 14:37] #46 closed

[2020-08-17 12:52] hanyaping opened #47 "我找不到Core.framework这个文件"
<img width="708" alt="22222" src="https://user-images.githubusercontent.com/17908865/90398108-74c0d980-e0cb-11ea-94f5-d91e344b6a19.png">
<img width="563" alt="11111" src="https://user-images.githubusercontent.com/17908865/90398115-768a9d00-e0cb-11ea-8308-b04f998dad04.png">

[2020-08-17 12:59] aeddi commented on #47
Hello,
Please don't create an issue without any description / comment to explain your problem, especially since it seems to be a duplicate of another issue I gave you the solution to and you didn't answer: #45

[2020-08-18 08:25] hanyaping commented on #45
我进入到了packages这个目录，然后输入了make build_core.ios 然后按回车键，提示我“make: /utils/manifest_get/manifest_get.sh: Command not found”

请问这是什么问题？ 是我电脑环境的问题吗？

hanMacBook-Pro:packages digaoao$ make build_core.ios
usage: dirname path
make: /utils/manifest_get/manifest_get.sh: Command not found
Makefile:34: *** "Can't get <global.group_id> from Manifest.yml".  Stop.

<img width="693" alt="WeChatf25102b1d7f2b4cb46db54ca

[2020-08-18 08:45] aeddi commented on #45
Sorry I don't speak Chinese, please write in English so that we can understand each other (by the way, I'm French and I make the effort to speak English myself).

That said, thanks to your screenshots, I can see that the problem seems to be in your case, that the `MAKEFILE_DIR` variable of the Makefile is empty because there is a problem with this command: `$(realpath $(lastword $(MAKEFILE_LIST)))

[2020-08-18 09:04] #47 closed

[2020-08-18 09:10] aeddi commented on #45
Ok I think that's because there is a space in you path.
I'll see if I can take care of this problem when I have time.

But anyway for the compilation with gomobile to go well I advise you to `git clone` the repo in your `$GOPATH/src/github.com`.

[2020-08-26 05:56] danbrough opened #48 "How to enable pubsub"
Caused by: go.Universe$proxyerror: pubsub/sub: experimental pubsub feature not enabled. Run daemon with --enable-pubsub-experiment to use

[2020-08-26 08:34] #45 closed

[2020-09-09 14:07] gfanton commented on #48
Hello @danbrough, sorry for the late answer, I just add some helpers in #49 so you will be able to enable pubsub/namesys experimentals features

[2020-09-09 17:08] novocodev opened #50 "looking for build instructions (iOS)"
I'm trying to build the project for testing on iOS, I can't find any build instructions.

I have tried using the Makefile, but I am unable to successfully run any of the targets.

I tried various build targets, without luck, I guessed core was the base dependency and tried "make build_core.ios"

/Users/ajres/projects/go/bin/gomobile: /Users/ajres/projects/go/bin/gobind -lang=go,objc -outdir=/var/f

[2020-09-10 00:54] danbrough commented on #48
Thanks for that!

[2020-09-10 00:54] #48 closed

[2020-10-04 15:28] StarsTesla commented on #50
I also meet a bunch of problem when I try to build the dependency of swift, wish official can give a right instruction to help us.

[2020-10-12 09:58] gfanton commented on #50
Hello, sorry for the late answer

`make build_core.ios` inside packages, should be the right command to build the framework for ios.
can you try:
- pull master (there are some commits ahead),
- remove the vendor folder (if any)
- use go > 1.14

what kind of problem did you meet?

[2020-10-13 02:31] StarsTesla commented on #50
For example, Can you write instruction of building for detail, when I try to wrapper core for ios, I always cannot get done for the dependencies or the problem similar above from @novocodev, anyway, if you write a complete build README, I will appreciate that, really.

[2020-10-24 21:22] ypopovych opened #54 "React Native bindings."
Hi guys,

I created React Native bindings for Android and iOS.

https://github.com/tesseract-one/react-native-gomobile-ipfs

Can get XKCD image from React Native :)

[2020-10-27 12:07] moul opened #55 "SetStreamHandler(protocolID, handler) and NewStream(peerID, protocolID) bindings"
* This will allow developers using gomobile-ipfs to simply establish p2p connections and implement logic around them.
* Example: a developer wants to create an application that displays notifications from a smartphone on a desktop PC without using servers will be able to use gomobile-ipfs to simply establish a direct connection between the two devices and implement the notifications transfer logic

[2020-10-27 12:07] moul opened #56 "Initial Android/iOS lifecycle management that will pause/stop/start the node according to the background/foreground state of the phone"
* This step can be particularly tricky to implement, so we will add some helpers with sane default behaviors

[2020-10-27 12:08] moul opened #57 "Technical documentation and testing to improve the contributing experience"
* Improve the following bridge documentations: https://github.com/ipfs-shipyard/gomobile-ipfs
* Improve GoDoc: https://pkg.go.dev/github.com/ipfs-shipyard/gomobile-ipfs/go
* Add more unit tests

[2020-10-27 12:08] moul opened #58 "* "getting started" documentation, examples, guides to help with starting a new app using gomobile-IPFS"
* Write and integrate doc alongside the official go-ipfs documentation on the IPFS doc website
* Write various simple and complex examples

[2020-10-27 12:08] moul opened #59 "Set up gomobile CI tests on go-ipfs"
* Using PL's existing CI for IPFS, setup a mobile CI pipeline that continuously tries to build go-ipfs with gomobile in order to track the evolution of stability and performance directly from the go-ipfs repo
* This won't be one the gomobile-ipfs repo but directly on go-ipfs with new GitHub action pipelines

[2020-11-04 22:08] lidel opened #60 "GitHub Actions: deprecating set-env and add-path"
Seems that GitHub will remove `set-env` at some point, and that will break your CI:

Details: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

cc @aeddi (lmk if you need help with migrating)

[2021-03-31 09:40] gfanton commented on #60
This issue is not valid, since it doesn't look like we are using set-env anymore

[2021-03-31 09:40] #60 closed

[2021-04-22 14:26] CrazyDL666 opened #67 "[Android] How to use "add file""
infoRaw = ipfs.newRequest("add")
                    .withHeader("Content-Type","multipart/form-data; boundary=---AAA")
                    .withBody("---AAA\n" +
                            "Content-Disposition: form-data; name=\"file\"; filename=\"file.txt\"\n" +
                            "\n\n" +
                            "123\n" +
                            "---AAA--")

[2021-04-30 09:17] #67 closed

[2021-05-12 05:53] liming1010 opened #68 "route ip+net: netlinkrib: permission denied"
`compileSdkVersion 30
    buildToolsVersion "30.0.3"

    defaultConfig {
        applicationId "com.example.ipfs_andorid"
        minSdkVersion 28
        targetSdkVersion 30
        versionCode 1
        versionName "1.0"

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }`

`basichost	failed to resolve local interface addresses	{"error": "route ip+net: netlinkrib:

[2021-07-06 11:10] simonmcl opened #71 "Swift package manager support?"
I'm trying to find an IPFS library to download some images on iOS. Came across this library from a blog article, but can't find any instructions on how to install it. The zipped releases seem to only contain the repository code.

Can you add support for Swift package manager? or provide some direction on how to include everything in a project?

[2021-07-06 16:17] simonmcl commented on #50
i'm trying to get some IPFS support into my swift package, hitting a brick wall at every turn. In the short term if you aren't supporting SPM, would it be possible for you to modify your scripts to bundle everything up as an `.xcframework`, manually run it, zip it up and host it under a github release?

These guys did the same thing as they couldn't invest the time to update their repo. So they cr

[2021-07-07 16:26] gfanton commented on #50
@simonmcl I just updated `Core.framework` to `Core.xcframework` on https://github.com/ipfs-shipyard/gomobile-ipfs/pull/72 to support arm64 simulator and catalyst, and I'm currently working on fixing the CI and deployment on android and iOS. I will take the opportunity to update the main framework `GomobileIPFS.framework` to an `xcframework`.

[2021-07-08 07:34] gfanton commented on #71
Let me first fix the CI and deployment in his current state, then I will add support for swift package manager

[2021-07-20 07:46] ThomasPluck opened #74 "Android example does not work"
I've attempted to build and run the android example provided, and attempted to download the maven package using the repository listed in the .pom provided in the package on github.

Either way, the error:

`Could not GET 'https://dl.bintray.com/berty/gomobile-ipfs-android/ipfs/gomobile/core/0.0.42-dev/core-0.0.42-dev.pom'. Received status code 403 from server: Forbidden`

is thrown.

How do I reso

[2021-07-21 08:21] aeddi commented on #74
Hello,
Since Bintray has been shutdown, the packages are no longer accessible, we are currently changing the release process to set up Github Packages, a PR should be available within the week.

[2021-07-23 03:19] zinete opened #76 "403 permission denied"
![image](https://user-images.githubusercontent.com/23396979/126733855-6937a4f6-e643-4b9c-82d4-166b00de443d.png)

Unable to download dependencies ？？
[https://dl.bintray.com/berty/gomobile-ipfs-ios/bridge/1.2.1/bridge-1.2.1.zip](https://dl.bintray.com/berty/gomobile-ipfs-ios/bridge/1.2.1/bridge-1.2.1.zip)

[2021-07-24 12:48] #74 closed

[2021-07-30 08:19] ThomasPluck commented on #76
Any update on this?

[2021-10-30 01:16] Allenxuxu opened #78 "Flutter support"
Any plans to support flutter?

[2021-11-01 03:48] minddewo opened #79 "make build_core.android error"
![1635738042(1)](https://user-images.githubusercontent.com/3061285/139618696-d78c194f-6a24-4e43-85e4-bf238174d011.png)
run  make build_core.android    error
 How to resolve this error?

[2021-11-26 16:03] Garciconx commented on #78
I have the same question, Greetings!

[2021-11-26 16:13] Garciconx commented on #50
I got this error trying to build the framework for ios

packages % make build_core.ios
------------------------------------
      Go: installing modules
------------------------------------
go mod download
go install golang.org/x/mobile/cmd/gomobile
go install golang.org/x/mobile/cmd/gobind
go run golang.org/x/mobile/cmd/gomobile init -v

Done, build took 0s.
Done!
--------------------------------

[2022-01-15 14:42] beilvla commented on #79
我也是运行这make build_core.android 错误  但是我的错误好像和你的不一样，希望你指导一下
![image](https://user-images.githubusercontent.com/34034894/149625834-a5f7956b-62f0-4a33-9f2a-ee1e8b78dd5c.png)

[2022-01-15 14:43] beilvla commented on #79
ym@ymdeMacBook-Pro packages % make build_core.android
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git
------------------------------------
      Go: installing modules
------------------------------------
go mod download
go install golang.org/x/mobile/cmd/gomobile
go install golang.org/x/mobile/cmd/gobind
go

[2022-01-15 14:44] minddewo commented on #79
python版本不兼容，要换个

---Original---
From: ***@***.***&gt;
Date: Sat, Jan 15, 2022 22:42 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ipfs-shipyard/gomobile-ipfs] make build_core.android    error (Issue #79)

我也是运行这make build_core.android 错误  但是我的错误好像和你的不一样，希望你指导一下

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mob

[2022-01-15 14:46] beilvla commented on #79
这不是go么？换py做什么？

[2022-01-15 14:48] minddewo commented on #79
太久没弄，记错了，我的错误当时是换了go版本解决的。

---Original---
From: ***@***.***&gt;
Date: Sat, Jan 15, 2022 22:46 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ipfs-shipyard/gomobile-ipfs] make build_core.android    error (Issue #79)

这不是go么？换py做什么？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are

[2022-01-15 14:49] beilvla commented on #79
换的go的版本么？还是换的AndroidNDK的版本之类的？

[2022-01-15 14:52] minddewo commented on #79
你的错误和我的不一样，你试试换ndk版本吧，我没遇到你这个错误。我换了go版本直接就编译好了
，我是在ubuntu下编译的。

---Original---
From: ***@***.***&gt;
Date: Sat, Jan 15, 2022 22:44 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ipfs-shipyard/gomobile-ipfs] make build_core.android    error (Issue #79)

***@***.*** packages % make build_core.android
 fatal: not a git repository (or any of the parent directories): .git
 fatal:

[2022-01-15 14:53] beilvla commented on #79
好的 谢谢

[2022-01-15 14:57] beilvla commented on #79
我把ndk版本改为21.4.7075529，还是同样的错误
![image](https://user-images.githubusercontent.com/34034894/149626334-c884d4c0-6302-491b-b2ee-94d5fcf31001.png)

[2022-01-18 08:39] DarknessFall opened #90 "iOS Demo, Random XKCD report error."
I install the iOS demo on my iPhone, the "Share file" and "Fetch file" worked very well. But the "Random XKCD" report error:
cat: could not resolve name.
![IMG_9754](https://user-images.githubusercontent.com/7892335/149900867-5f30cf3c-f82d-4f80-9c33-400b3d9df08d.PNG)

[2022-01-18 17:38] beilvla opened #91 "I can't make build_core.android on apple M1"
M1Pro
export GOROOT=/usr/local/go
export GOPATH=/Users/ym/gopath
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
export ANDROID_HOME=/Users/ym/Library/Android/sdk
export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle
export PATH=$PATH:$ANDROID_NDK_HOME

ym@ymdeMacBook-Pro ~ % go version
go version go1.17.6 darwin/arm64
ym@ymdeMacBook-Pro ~ % gomobile
Gomobile is a tool for building and running mobile apps wr

[2022-02-02 23:16] n0izn0iz opened #102 "[Feature Request] Add repo factory system and support berty repo"

[2022-02-02 23:17] n0izn0iz opened #103 "[Feature Request] Add sql datastore spec support"

[2022-02-02 23:17] n0izn0iz opened #104 "[Feature Request] Add badger datastore spec support"

[2022-02-06 07:02] fanhai opened #107 "是否支持 蜂窝网络？"
比如中国移动，中国联通，中国电信
美股 AT&T，Verizon和Sprint

[2022-02-09 02:54] livehl commented on #107
支持

[2022-02-09 02:55] livehl commented on #107
有ipv6

[2022-02-14 02:46] XiaoTiJun opened #108 "How is the compiled AAR file used"
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/37797698/153791433-61254d52-6a9c-43fa-96b5-a056d5906ac3.png">

I have compiled the source code into aar package, but I still couldn't use the API after I introduced it into the Android project. Is there something wrong with it? Please advise

[2022-02-14 03:40] #108 closed

[2022-02-14 03:52] ScienceNoBorders opened #109 "Is there an example of how core can be used"

[2022-02-14 08:08] XiaoTiJun commented on #91
How do I use core to create IPFS nodes

[2022-02-14 08:16] qm921 commented on #91
不清楚

[2022-02-14 08:19] XiaoTiJun commented on #91
@qm921 你也在搞这个吗，我已经把Android的aar包编译好了，但是不知道怎么创建移动端的IPFS节点

[2022-02-14 08:31] qm921 commented on #91
你的也是m1的macbook么？  我不清楚怎么创建节点

[2022-02-14 08:41] XiaoTiJun commented on #91
我不是m1的，不过有了gomobile后还需要一个gobind才行

[2022-02-14 08:51] qm921 commented on #91
不清楚

[2022-02-14 11:49] n0izn0iz commented on #91
if you use this fork of gomobile: https://github.com/aeddi/mobile/tree/v0.0.3-silicon it might build
that's probably my bad

[2022-02-15 01:01] qm921 commented on #91
好的 谢谢

[2022-02-15 07:43] beilvla commented on #79
我也不知道怎么创建ipfs节点

[2022-02-15 07:46] ScienceNoBorders commented on #79
你还在研究这个么，可以交流一下

[2022-02-15 07:48] beilvla commented on #79
可以啊

[2022-02-15 08:00] ScienceNoBorders commented on #79
[![Gitter](https://badges.gitter.im/ipfs-application/community.svg)](https://gitter.im/ipfs-application/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)
来这吧

[2022-02-15 09:13] #109 closed

[2022-02-16 01:09] ScienceNoBorders opened #110 "[Android] org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':bridge'."
<img width="1455" alt="image" src="https://user-images.githubusercontent.com/37797698/154176791-77dc39f0-8419-47d0-9203-dac086bdfda1.png">

Android Gradle build failed. Core has been compiled。
I don't know if anyone has ever encountered this problem

[2022-02-17 07:20] #110 closed

[2022-02-18 03:48] ScienceNoBorders opened #111 "Error configuring bootstrap -- ERROR: input isn't valid multihash"
<img width="1650" alt="image" src="https://user-images.githubusercontent.com/37797698/154613936-3fabf0a6-c9f9-4ddf-9994-7209b3f9bf9c.png">

[2022-02-22 11:21] #91 closed

[2022-02-25 06:15] ScienceNoBorders opened #112 ""swarm.key"--How to set up a private network on mobile"
I don't know where to put "swarm. Key" to build my own private library.

[2022-03-02 15:02] makeworld-the-better-one commented on #74
Any update on the packages? Looks like the last one was from July 2021

[2022-03-02 17:32] makeworld-the-better-one opened #113 "Build fails with "You must specify a URL for a Maven repository""
The current build fails with the error `You must specify a URL for a Maven repository`. This is fixed by adding `bintray_url` to `Manifest.yml`. See https://github.com/ipfs-shipyard/gomobile-ipfs/pull/106/commits/c14bbe2d601db1fbdf59c94135b49e9d244e48ef for an example of this happening.

This is fixed in #106, which is created to fix a different issue but also fixes this one.

[2022-03-08 01:25] ScienceNoBorders commented on #113
I solved it by installing the Flutter

[2022-03-30 10:51] DarknessFall opened #115 "make build_core.ios report an error"
In the Makefile,
<img width="1210" alt="CleanShot 2022-03-30 at 18 50 35@2x" src="https://user-images.githubusercontent.com/7892335/160815160-400ea852-7c7e-4b63-aa2f-3cf85ebab560.png">
If I remove the maccatalyst target it will works, or else it will report an clang error:
clang: error: invalid version number in '-target arm64-apple-ios13.0-macabi'

[2022-04-05 04:17] RangerMauve commented on #68
What can I do if another dependency requires SDK Version 31?

[2022-04-05 04:30] RangerMauve commented on #68
Doing some more searching it sounds like you need to set up a `WifiManager.MulticastLock` lock before you set up the gomobile-ipfs code.

Gonna try this tomorrow to see if it fixes it and report back. Not sure how hard it'd be to add directly into gomobile-ipfs.

I think even if you aren't using SDK 31, you'll want to do this since a lot of phones will just drop the multicast frames otherwise.

ht

[2022-04-05 17:42] RangerMauve commented on #68
Adding the multicast lock did not help. 🙃

I think the remaining issue is that you can no longer enumerate the list of network interfaces. Not sure what to do as next steps to work around this.

[2022-04-05 17:45] RangerMauve commented on #68
This is a bug in the Go runtime itself and the current recommendation is to work around it in application code. 🙃

[2022-04-21 04:28] vcexnet opened #117 "Download multiple large files at the same time, error reported:A/go/Seq: NewByteArray failed"
If you download multiple large files at the same time, gomobile-ipfs will report an error:A/go/Seq: NewByteArray failed

[2022-06-25 17:45] jefft0 opened #119 "[FEATURE]: Support go 1.18"
With Go 1.18 installed, in `packages`, `make test` prints:

    ../../go/pkg/mod/github.com/lucas-clemente/quic-go@v0.24.0/internal/qtls/go118.go:6:13: cannot use "quic-go doesn't build on Go 1.18 yet." (untyped string constant) as int value in variable declaration

Other packages like Berty now build on go 1.18. To use gomobile-ipfs, it needs to support 1.18.

[2022-07-04 12:04] jefft0 commented on #31
Hello @RubenKelevra , has there been further development on your proposal https://github.com/ipfs/notes/issues/397 since January 2020?

[2022-07-04 12:28] jefft0 commented on #76
Hello @zinete . Are you still seeing this error?

[2022-07-04 12:33] jefft0 commented on #79
Hello @minddewo . It looks like the discussion was moved to gitter. Has your issue been solved?

[2022-07-04 12:44] jefft0 commented on #117
Hello @vcexnet . Can you be specific about the large files? How many files? What were their sizes?

[2022-07-04 14:21] vcexnet commented on #117
@jefft0  Thank you very much for your reply.
I have integrated gomobile-ipfs into my mobile app [eactalk](https://github.com/vcexnet/eactalk) and would like to use the decentralized storage feature. But the problem I am currently facing is the inability to quickly cid address and download the cache locally. Especially for some large files. For example: https://ipfs.io/ipfs/Qmb12wBUaHVEwPGri7FptEv9

[2022-07-05 06:24] minddewo commented on #79
@jefft0   I solved this issue  a year ago, change GO version ,you can have a try.

[2022-07-05 07:02] jefft0 commented on #79
Thank you for the reply. Closing this issue.

[2022-07-05 11:11] jefft0 commented on #50
Hello @Garciconx . Except for the error with maccatalyst, I am able to build on macOS 11 with xcode 13.2.1 and macOS 12 with Xcode 13.4.1 . What version of macOS and Xcode do you have?

[2022-07-05 11:25] jefft0 commented on #115
I confirm this build error on macOS 12 with Xcode 13.4.1.  As mentioned,`make build_core.ios` prints:

    clang: error: invalid version number in '-target arm64-apple-ios13.0-macabi'

And as mentioned, it builds if you remove the maccatalyst target [in the Makefile](https://github.com/ipfs-shipyard/gomobile-ipfs/blob/048c1e8721f64f968ff04b14b76d654bceb4499d/packages/Makefile#L138).

But it builds

[2022-07-07 13:16] vcexnet commented on #117
@jefft0
Download via stream, how to know the format of the file.

[2022-07-07 13:29] jefft0 commented on #117
Are you streaming from an IPFS gateway using HTTP? It already sets the Content-Type.

[2022-07-08 15:07] jefft0 commented on #117
Replying to your original question, the "cat" interface reads the entire file into memory. For large files this can cause an allocation in NewByteArray to fail. I am looking to see if gomobile-ipfs can support a streaming interface.

[2022-07-10 16:34] WesleyBatista commented on #119
Experienced the same issue and got the build working without changing my global go installation with this:
[code]

As a side note: [lucas-clemente/quic-go](https://github.com/lucas-clemente/quic-go/releases) added support to go 1.18 on [v0.26.0](https://github.com/lucas-clemente/quic-go/releases/tag/v0.26.0).

[2022-07-13 17:01] #79 closed

[2022-07-13 19:35] jefft0 commented on #117
Hello @vcexnet . We are working on pull request #39 to implement a stream API. I would like to close this issue and you can track that pull request for progress. Does that sound good?

[2022-07-16 16:13] jefft0 opened #123 "Support iossimulator in Makefile"
In packages, `make test_bridge.ios` fails. But if I add `iossimulator` as a [gobind target](https://github.com/ipfs-shipyard/gomobile-ipfs/blob/048c1e8721f64f968ff04b14b76d654bceb4499d/packages/Makefile#L138), then it succeeds:

    $(GOMOBILE) bind $(GOMOBILE_OPT) -target=ios,iossimulator,macos,maccatalyst$(GOMOBILE_TARGET) -o $(IOS_CORE) $(CORE_PACKAGE) $(EXT_PACKAGE)

Do we want gobind to build

[2022-07-18 01:53] vcexnet commented on #117
Thank you very much! @jefft0 .I would like to use your gomobile-ipfs inside my development application eactalk and would like to get your license.Close this issue

[2022-07-18 06:23] jefft0 commented on #117
OK. Thank you. Closing this issue. If you have more questions, you can open another issue.

[2022-07-18 06:23] #117 closed

[2022-07-21 02:01] flyskywhy commented on #68
Fixed in https://github.com/golang/go/issues/40569#issuecomment-1190950966

[2022-07-21 13:43] RubenKelevra commented on #31
Hey @jefft0,

I've fallen ill for a while since then and I'm still recovering.

Haven't worked on this since, but plan to tackle https://github.com/ipfs/notes/issues/428 first, which is definitely the more important part I like to fix.

However the proposal is still valid and makes more and more sense, if you think of use-cases like [Berty](https://berty.tech/)

[2022-07-21 13:44] RubenKelevra commented on #31
@jefft0 Ah and look above, I wrote a proposal for the 2021 roadmap based on that.

[2022-07-21 13:47] RubenKelevra commented on #31
@jefft0 and based on this [proposal](https://github.com/ipfs/roadmap/issues/78) I wrote another one specially on mobile clients:

https://github.com/ipfs/roadmap/issues/89

[2022-07-25 12:57] jefft0 commented on #123
Need to update the Makefile similar to Berty which should fix this issue. Closing

[2022-07-25 12:57] #123 closed

[2022-07-26 08:53] ndungudedan opened #127 "Could not find ipfs.gomobile:core:0.0.42-dev."
### Asking a question, not reporting a bug

- [X] This question is not about a bug

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Question

Trying to build the android example but I get the following error
Could not find ipfs.gomobile:core:0.0.42-dev.

### Context

Cannot build android example app

[2022-07-27 08:19] jefft0 commented on #127
Hello @ndungudedan . What commands did you enter to build?

[2022-07-27 08:54] ndungudedan commented on #127
@jefft0 I haven`t entered any commands. I also can`t find documentation referencing that.

[2022-08-02 10:11] jefft0 commented on #127
Are you trying to build the Android or iOS version? What steps did you do? (If Android, did you open Android Studio? Which folder?)

[2022-08-02 10:15] jefft0 commented on #127
If you are building in Android Studio, first you must build the Go core. In a terminal, enter:
[code]

[2022-08-03 09:55] jefft0 commented on #78
We don't plan to support Flutter. (We already plan to support React-Native which is the most used framework for mobile development.) We encourage the community to create other packages. If you or someone else want to create a flutter package on separate repo, we can help you if you have questions by opening a new issue.

[2022-08-07 14:06] westice007 opened #128 "When I use files/rm or cp, it report Error "sending request failed""
### Asking a question, not reporting a bug

- [X] This question is not about a bug

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Question

do {
    let res1 = try self.ipfs?.newRequest("files/rm")
        .with(argument: mfsPath)
        .send()
    print("exeRmCmd files/rm res1: ", res1)
    return res1
}catch let error {
    print("Error: exeRmCmd Rm:

[2022-08-09 08:42] jefft0 commented on #50
Hello @novocodev  and @Garciconx . See the comments above. If you don't have a response then this issue will be closed as inactive in 14 days.

[2022-08-10 13:34] nc163 commented on #50
I got similar error.

- master branch

- macOS Monterey 12.5 iMac (Retina 5K, 27-inch, 2020)
- Xcode Version 13.4.1 (13F100)
- go version  go1.18.4 darwin/amd64

---
[code]

[2022-08-10 13:38] jefft0 commented on #50
@nc163 , we are working on a pull request to support go1.18. https://github.com/ipfs-shipyard/gomobile-ipfs/pull/130

You have a few options:

- Build with go1.17
- Temporarily merge the changes in the pull request in your local repo
- Wait for the pull request to be merged

[2022-08-10 14:16] nc163 commented on #50
@jefft0
Thank you for your prompt reply.
I tried go1.17.5 and some errors disappeared, but the following errors occurred.

-----

[code]

[2022-08-10 14:19] nc163 commented on #50
I wrote the wrong version..
`$ go version go1.17.13 darwin/amd64`

[2022-08-10 14:37] jefft0 commented on #50
What do you see if you enter `make test_bridge.ios` ?

[2022-08-10 14:50] nc163 commented on #50
I got the following

-----

[code]

[2022-08-11 08:25] jefft0 commented on #50
I have a fresh virtual machine with your configuration (macOS 12.5, Xcode 13.4.1). I am able reproduce your build error. I do not get this error on a fresh virtual machine with macOS 11.6.8 and Xcode 13.2.1. So on macOS 12.5, I reinstalled Xcode 13.2.1 and it builds.

Is it possible for you to try Xcode 13.2.1?

NOTE: If you see the error "While building for the iOS Simulator, no library for this

[2022-08-12 15:00] nc163 commented on #50
I tried.

[code]

[code]

[2022-08-12 16:49] jefft0 opened #131 "Build error for Xcode 13.4.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package version

Latest commit a2c7efffdf506fb00f51c69697855ac42546a67a

### Language version and compiler version

go 1.17, Xcode 13.4.1

### Bug description

On macOS 12.5, Xcode 13.4.1, try building`make test_bridge.ios`.

### Current behavior

It gives the build error:

    clang: error: invalid version nu

[2022-08-12 16:50] jefft0 commented on #50
It looks like the problem is:

     ... bundle format unrecognized, invalid, or unsuitable
     Command CodeSign failed with a nonzero exit code

I've never seen this before (and I'm not an Xcode expert).

It look like you did get a lot farther with Xcode 13.2.1. So it appears that Xcode 13.4.1 was a problem. I created bug #131 . Fixing this bug to compile is probably the best solution to you.

[2022-08-14 05:47] nc163 commented on #50
I want to run on IOS, so I set makefire to `ios/arm64,iossimulator`.
And, I doing some other changes, but the following error remained

[code]

Do you have any advice on how to solve this problem?

[2022-08-21 13:03] nc163 commented on #131
I found this issue.
https://github.com/golang/go/issues/47228

I think, currently, builds only succeed with
[code]

To run `make test_bridge.ios`.
This change worked.

[2022-08-22 13:14] jefft0 commented on #128
Hello @westice007 . I am able to reproduce your error with files/cp . For me, I see this error. But if I use files/ls, then it shows that the file was added by files/cp . What does files/ls show on your system?

[2022-08-23 07:51] #78 closed

[2022-08-23 08:01] jefft0 commented on #127
Please see the questions above. If we don't hear from you, this issue will be closed as inactive in 14 days.

[2022-08-24 04:47] kf7mxe commented on #127
I had the same problem but when I run `make build_core.android` in the packages directory I get this error
`------------------------------------
      Go: installing modules
------------------------------------
go mod download
make: go: No such file or directory
make: *** [Makefile:362: run] Error 127
`

[2022-08-24 06:33] jefft0 commented on #127
@kf7mxe , you need to install Go 1.17 from https://go.dev/dl . Then set environment variables:

    export GOPATH="$HOME/go"
    export PATH="$PATH:$GOPATH/bin"

[2022-08-24 06:36] jefft0 commented on #131
@nc163 , does this solve the build problem you mentioned here? https://github.com/ipfs-shipyard/gomobile-ipfs/issues/50#issuecomment-1214290452

[2022-08-26 06:34] westice007 commented on #128
@jefft0  Instead of using files/ls, I use files/stat to check file, files/ls should be used to check folders

[2022-08-26 06:48] jefft0 commented on #128
@westice007 , thanks for the clarification. I mean to ask, even if files/cp shows an error, is the file created on your phone?

[2022-08-27 13:54] westice007 commented on #128
When I use files/cp, I get an error, but the file copy is successful, and then I can check the result with files/stat
this is my code :
`    func exeCpCmd(srcPath: String, mfsPath: String) -> String? {
        do {
            let res = try self.ipfs?.newRequest("files/cp")
                .with(argument: srcPath).with(argument: mfsPath)
                .send()
        } catch let error {

[2022-08-27 13:56] westice007 commented on #128
When I use files/cp, I get an error, but the file copy is successful, and then I can check the result with files/stat
this is my code:

    func exeCpCmd(srcPath: String, mfsPath: String) -> String? {
        do {
            let res = try self.ipfs?.newRequest("files/cp")
                .with(argument: srcPath).with(argument: mfsPath)
                .send()
        } catch let error {

[2022-08-27 14:00] jefft0 commented on #128
Thank you for confirming. This is the same behavior for me. We have found the cause of the error. Because files/cp returns an empty response, the return value should be nil. This works in Java (Android), but there is a behavior in the Swift/Go binding code which prevents returning a nil result. We are working on resolving it.

[2022-08-28 08:30] westice007 opened #132 "How to excute pubsub/sub use gomobile-ipfs"
### Asking a question, not reporting a bug

- [X] This question is not about a bug

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Question

I didn't find a way for Gomobile-IPFS to receive messages in real time

### Context

Can I use Pubsub /sub instructions and receive SUBSCRIBE messages in real time? I didn't find a way for Gomobile-IPFS to receive mes

[2022-08-28 14:24] nc163 commented on #131
@jefft0 No, this just resolves `make test_bridge.ios`.
I have not been able to find a solution for `make build_demo.ios`.

[2022-09-02 16:13] jefft0 commented on #127
Hello @JavaMousekin . I created detailed install instructions. We are still improving them and will merge into gomobile-ipfs master soon. Can you please look at the instructions? Is your platform listed? https://github.com/jefft0/gomobile-ipfs/blob/add-INSTALL/INSTALL.md

[2022-09-07 15:14] JavaMousekin commented on #127
Hi @jefft0 appreciate your effort, that is really helpful guide, but now I'm facing the next error: Error: [Errno 2] No such file or directory: '/mnt/c/Users/Mariya/BlockchainProjects/gomobile-ipfs/packages/build/android/intermediates/core/core-sources.jar'on Windows 11 now, but running everything using Ubuntu terminal. Following the steps you provided, I'm getting the next error:

[2022-09-07 15:25] jefft0 commented on #127
Are you using Windows Subsystem for Linux? What is the Ubuntu version?

[2022-09-07 15:30] JavaMousekin commented on #127
Yes, it's Ubuntu 20.04.5 LTS

[2022-09-07 15:44] jefft0 commented on #127
I tried on WSL. A requirement is to install and run Android Studio. When I try to launch it, I get the error "Unable to detect graphics environment". Are you able to launch Android Studio?

[2022-09-07 15:50] JavaMousekin commented on #127
Well, I installed Android Studio to the Windows machine itself and pass /mnt/...-like paths to the env variables.

[2022-09-07 15:51] jefft0 commented on #127
I don't think that will work. Need the Linux executables for NDK, etc.

[2022-09-07 15:53] jefft0 commented on #127
Either figure out how to run Android Studio from WSL (I haven't researched this online) or run Ubuntu in a virtual machine like Virtual Box.

[2022-09-07 15:58] JavaMousekin commented on #127
I faced some errors related to the NDK during struggling with this build process before, but after setting ANDROID_NDK_HOME to /mnt/.. directory they have vanished.
Any way, I'll try with VB, and post my updates here.
Thank u!

[2022-09-07 15:58] jefft0 commented on #127
Thanks. Let us know.

[2022-09-08 09:14] JavaMousekin commented on #127
Hello @jefft0, so I tried to do the same on Ubuntu 22.04:

[2022-09-08 09:26] JavaMousekin commented on #127
Hello @jefft0 I did what you suggested, but now facing another issue, seems some verion missmatch again, please advise what should I update or downgrade?

[2022-09-08 09:35] jefft0 commented on #127
Did you set the environment variables for Ubuntu as shown here?
https://github.com/jefft0/gomobile-ipfs/blob/add-INSTALL/INSTALL.md#user-content-build-for-android

Especially important is JAVA_HOME. Do you have a jre at /usr/local/android-studio/jre ?

[2022-09-08 11:57] JavaMousekin commented on #127
@jefft0 your guess was right, I didn't set them properly at first, that was an issue.
Please note, usr/local/android-studio/jre contains version 11 by default and it causes another issue:
`option --boot-class-path not allowed with target 11`
So I had to install JDK version 1.8, and set it to the JAVA_HOME.
Finally it works now, thanks a lot for your help!

[2022-09-08 15:52] #127 closed

[2022-09-12 08:24] jefft0 commented on #132
gomobile-ipfs gives interacts with IPFS through the API https://docs.ipfs.tech/reference/kubo/rpc . For example, this test uses the "cat" command:
https://github.com/ipfs-shipyard/gomobile-ipfs/blob/3dc6933c57a370c71b5879d314b4466dba07e095/android/bridge/src/androidTest/java/ipfs/gomobile/android/requestIPFSTests.java#L68

Are the IPFS commands you need in the API?

[2022-09-13 17:31] jefft0 commented on #128
Hello @westice007 . We merged pull request #135 into master which fixes this crash in the Swift code. Can you please check if it fixes your problem? Thanks.

[2022-09-13 19:05] jefft0 commented on #113
Hello @makeworld-the-better-one . As mentioned in PR #106, a similar change was merged to master. Does this fix your problem?

[2022-09-13 19:29] #119 closed

[2022-09-13 20:53] makeworld-the-better-one commented on #113
I am no longer working this this project, sorry. I assume this would be fixed if a similar change is merged. Feel free to close.

[2022-09-13 20:54] jefft0 commented on #113
OK. Thanks for the reply.

[2022-09-13 20:54] #113 closed

[2022-09-16 10:15] jefft0 opened #136 "Command to show the DNS server address, and option to set it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature request

Add an API to get the DNS server address [used by NewNode](https://github.com/ipfs-shipyard/gomobile-ipfs/blob/86863cfce316360ffab477e54ec9b29b266ca82a/go/bind/core/node.go#L43) and an API to set a different address.

### Context

This change https://github.com/ipfs-shipyard/gomobile-ipfs/comm

[2022-09-19 08:52] jefft0 commented on #131
The Makefile has an update which resolves the build error with `make test_bridge.ios` on Xcode 13.4.1.
https://github.com/ipfs-shipyard/gomobile-ipfs/blob/e382b977418974dbe7fee25f0f1a88299c904b2f/packages/Makefile#L157-L162
Closing this issue. We will address the error with `make build_demo.ios` on issue #50.

[2022-09-19 08:52] #131 closed

[2022-09-27 09:03] jefft0 commented on #50
As mentioned here https://github.com/ipfs-shipyard/gomobile-ipfs/issues/131#issuecomment-1250742976 , the new Makefile seems to resolve the build error on iOS.

Also there is now an INSTALL file with clear instructions to install prerequisites. https://github.com/ipfs-shipyard/gomobile-ipfs/blob/master/INSTALL.md

Is this issue resolved? If there is no more comment, this issue will be closed as re

[2022-09-27 13:36] aeddi commented on #19
Fixed by #130 using this workaround: https://github.com/ipfs-shipyard/gomobile-ipfs/pull/130/commits/86863cfce316360ffab477e54ec9b29b266ca82a#diff-04399ac2eacd4034b3100cde433ad52c1eb223ed9dfb73545c869f92ce812b0fR39-R50

[2022-09-27 13:36] #19 closed

[2022-10-04 09:07] jefft0 commented on #132
See the question above about the IPFS API. If there are no more comments in 14 days, this issue will be closed as resolved. Thank you.

[2022-10-13 20:13] Khyta commented on #68
I've successfully compiled `ipfs-update` and `ipfs Kubo` from source for Android `13` Kernel `5.10.107-android13-4-ga753e5105cfd
#1 Mon Oct 3 19:27:52 UTC 2022`.

The issue is, running `ipfs daemon` it wants to do a `migration` for `fs-repo`. It fails and returns these errors which are fitting to this issue:

    Failed to download migrations.
    The migrations of fs-repo failed:
    failed to do

[2022-10-14 08:26] jefft0 commented on #68
Hello @Khyta . This issue is about the error "route ip+net: netlinkrib: permission denied" which comes from running gomobile-ipfs . We will merge the solution soon, but it is only a solution for gomobile-ipfs. It looks like you are running kubo directly on your phone. Is that right?

[2022-10-14 10:43] Khyta commented on #68
Yes, I dowloaded `golang` for Termux and then also downloaded and installed IPFS with these steps: https://github.com/ipfs/kubo#install-go

The compiling worked flawlessly. Running `ipfs` also works as expected. It's just that running `ipfs daemon` returns this:

    Initializing daemon...
    Kubo version: 0.17.0-dev-9e3745ebe
    Repo version: 12
    System version: arm64/android
    Golang vers

[2022-10-14 10:46] jefft0 commented on #68
@Khyta , you may have found this issue by searching for the error. We will fix the error in gomobile-ipfs, but it won't help you running `ipfs daemon` directly. I think you need to ask on the Kubo help forums.

[2022-10-17 18:27] jefft0 commented on #128
As mentioned. We merged a fix. Closing this issue as resolved. If you still see the error, then please open another issue. Thank you.

[2022-10-17 18:27] #128 closed

[2022-10-20 15:32] #68 closed

[2022-10-20 15:42] jefft0 commented on #68
The pull request was merged for Android 30 support. This should fix the problem in this issue.

[2022-11-08 10:32] jefft0 opened #140 "Error "Repo opening failed" on Android API 30+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package version

v1.9.0

### Language version and compiler version

go 1.18, javac 11

### Bug description

1. Connect a phone running Android 11+ (Android 30+) which has an external SD card.
2. In the Java IPFS constructor, set `internalStorage` false. Change [this line](https://github.com/ipfs-shipyard/gomob

[2022-11-14 01:08] zhangchengtest opened #141 "[Android] How to use "add file""
### Asking a question, not reporting a bug

- [X] This question is not about a bug

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Question

 How to use "add file"

### Context

 ipfs.newRequest("add").withArgument(path).send();
it is not correct, is there any way to process the "add" function

[2022-11-14 10:54] jefft0 commented on #141
Hello @zhangchengtest . This command doesn't read the file from the file system. It is read from the body of the request. Have you tried one of the "body" methods?
https://github.com/ipfs-shipyard/gomobile-ipfs/blob/2af807822a4b70cb3992b0141a3ca5906c3c2766/android/bridge/src/main/java/ipfs/gomobile/android/RequestBuilder.java#L234-L288

[2022-11-15 06:21] zhangchengtest commented on #141
Hi,  I use the method withBody like this

  File file = new File(Environment.getExternalStorageDirectory(), fileName);
  InputStream inputStream = ipfs.newRequest("add").withBody(file).send();

But I got anthor error

go.Universe$proxyerror: read unix @->//data/user/0/com.cunw.peer/cache/sock/0000000: use of closed network connection

[2022-11-15 07:48] jefft0 commented on #141
What is your test setup? Are you using an Android simulator, or connected to a real phone? Before trying new commands, do the test commands work? For example, in the packages directory:

    make test_bridge.android

[2022-11-15 09:19] zhangchengtest commented on #141
I use a real phone and there is another error when I use another  file

go.Universe$proxyerror: Post "http://unix/api/v0/add?": EOF

[2022-11-15 09:22] jefft0 commented on #141
We need to know if basic IPFS is working. Does `make test_bridge.android` work?

[2022-11-15 09:25] zhangchengtest commented on #141
not try this, but i will try later.
but I have tried a lot command like  ipfs get , ipfs swam peers...
they all works in the app installed in my phone
only the "add" not work

[2022-11-15 10:03] zhangchengtest commented on #141
make test_bridge.android have no problem

[2022-11-16 01:18] zhangchengtest commented on #141
follow the example it is ok. but I got the cid not same as the cid where I add the same file to computer.
`
  ByteArrayOutputStream outputStream = new ByteArrayOutputStream( );
  outputStream.write("--------------------------5f505897199c8c52\r\n".getBytes());
  outputStream.write("Content-Disposition: form-data; name=\"file\"\r\n".getBytes());
  outputStream.write("Content-Type: application/octet-

[2022-11-21 06:25] zhangchengtest commented on #141
witbody bytes function works, but inputstream not work
always throw the EOF exception in InputStreamToGo

[2022-11-21 15:06] jefft0 opened #143 "Java RequestBuilder.withBody(InputStream) EOF error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package version

v1.9.0

### Language version and compiler version

go1.18.5, javac 11.0.12

### Bug description

In Android Studio, open requestIPFSTests.java and run `testAddWithStreamBody`:
https://github.com/jefft0/gomobile-ipfs/blob/Java-testAddWithBody/android/bridge/src/androidTest/java/ipfs/gomobile/an

[2022-11-21 15:07] jefft0 commented on #141
Hello @zhangchengtest . Thank you for testing. I have reproduced your error and I created a bug report. We will look into it.
https://github.com/ipfs-shipyard/gomobile-ipfs/issues/143